{% load static %}
<html>
    <head>
		<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css"> <!-- Enable Lobstr font -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}"> <!-- User styles -->
        <title>Matfred's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Matfred's Blog</a></h1>
        </div>

		{% for post in posts %}
			<div>
				<h1><a href="">{{ post.title }}</a></h1>
				<p><em>published: {{ post.published_date }} <br> author: {{ post.author }}</em></p>
				<p><blockquote>{{ post.text|linebreaksbr }}</blockquote></p> 
			</div>
		{% endfor %}

        <div>
			<h3><a href="/admin">Админка</a></h3>
        </div>
    </body>
</html>